.tourist__container {  
    border: .05rem solid rgb(241, 202, 159);
    background-color: rgb(213, 239, 243);
    height: 40rem;
    width: 40rem;
    padding:2rem;
}
.delete__container {
    display: flex;
    flex-wrap: wrap;

}
.close {
    text-align: end;
}
